<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">롤 성향 분석</a>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>롤 성향 분석</h1>
					<p>사용 챔피언과 설문조사를 이용하여 롤 성향을 분석합니다.<br />
					</p>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>다섯가지 특성으로 사용자의 성향을 나타냅니다</h2>
						<p>설문조사를 이용한 MBTI 유형 분석과 닉네임을 이용한 최근 사용 챔피언, 게임모드 분석으로<br> 아래의 다섯가지 특성에 대해서 사용자의 수치를 나타냅니다</p>
					</header>

  					<form action="http://localhost:3000/nickname_process" method = "POST" style = "margin-left : 30%;display : grid; grid-template-columns: 30% 25%;column-gap : 5%">
						<input type="text" name="nickname" id="name" value="" placeholder="닉네임" />
						<input type="submit" value="설문시작" class="primary" />
					</form>
				</div>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<img src ="images/timo.jpg", style= "margin-bottom:30px", width='100', height = 100>
									<h3>잼민</h3>
								</header>
								<p>얼마나 게임을 즐겁고 화려하게 하려고 하는지 나타내는 지표입니다</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<img src ="images/gugbab.jpg", style= "margin-bottom:30px", width='100', height = 100>
									<h3>국밥</h3>
								</header>
								<p>얼마나 안정성있게 게임을 플레이하려고 하는지 나타내는 지표입니다</p>
							</div>
						</section>
						<section  style = "padding-bottom : 22px">
							<div class="content">
								<header>
									<img src ="images/trend.jpg", style= "margin-bottom:30px", width='100', height = 100>
									<h3>트렌드</h3>
								</header>
								<p>얼마나 최신 메타를 따라가려고 하는지 나타내는 지표입니다.</p>
							</div>
						</section>
						<section style = "margin-left : 100px">
							<div class="content">
								<header>
									<img src ="images/master.jpg", style= "margin-bottom:30px", width='100', height = 100>
									<h3>장인정신</h3>
								</header>
								<p>특정 챔피언에 대해 얼마나 집중적으로 플레이를 하였는지 보여주는 지표입니다.</p>
							</div>
						</section>
						<section  style = "margin-left : 100px">
							<div class="content">
								<header>
									<img src ="images/compete.jpg", style= "margin-bottom:30px", width='100', height = 100>
									<h3>승부욕</h3>
								</header>
								<p>게임을 대할 때 즐기려는 것보다 상대를 이기려고 하는 태도가 얼마나 강한지 보여주는 지표입니다.</p>
							</div>
						</section>
					</div>
				</div>
				
			</section>

			


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>